@charset "utf-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: orangered;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-variant: small-caps;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  flex-direction: column;
}

.pesq {
  width: 30%;
  padding: 10px 5px;
  font-size: 20px;
  margin: 30px 0px;
}
